
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    
    
    <mat-nav-list class="exemplo-right-align">
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item [routerLink]='["/imobilizado"]'>Contador</a>
      <a mat-list-item [routerLink]='["/Grupo"]'>Grupo de Produto</a>
      <a mat-list-item [routerLink]='["/Status"]'>Cadastro de status</a>
      <a mat-list-item [routerLink]='["/Cartoes"]'>Cadastro de Cartoes</a>
      <a mat-list-item [routerLink]='["/tp_contas"]'>Tipo de Contas</a>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar color="accent">
    <div class="col-sm-9 left">
      <button id="btn-menu"  class="btn1" type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
           </button>
      </div>
      <div class="col-sm-3 right"  dropdown >
        <label style="font-size:14px" id="user"></label>
           <button id="button-basic"   dropdownToggle  type="button" mat-icon-button matTooltip="Login" aria-controls="dropdown-basic">
        	<mat-icon>account_circle</mat-icon>
           </button>
           <div class="">
           <ul id="dropdown-basic" style="font-size:12px" *dropdownMenu class="dropdown-menu  dropdown-menu-right "
      role="menu" aria-labelledby="button-basic" >
<mat-action-list dense  >
  <button mat-list-item style="font-size:12px" [routerLink]='["/login"]' > {{menu}} </button>
</mat-action-list>
  </ul>
           </div>
      </div>
   
    </mat-toolbar>
    <div>
      <div class='container-fluid'>
        <p></p>
        <router-outlet></router-outlet>

</div>
    </div>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
