
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav color="accent"  #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]= navlateral>
      <mat-toolbar color="accent"><mat-icon>{{icon}}</mat-icon>{{menu}}</mat-toolbar>
    <mat-nav-list color="accent"  class="exemplo-right-align" *ngFor = "let submodules of submodules">
    <a style="text-align: right" (click)="mostrarsubmodulos(submodules.id_SubModulos,submodules.nome)" mat-list-item ><mat-icon mat-list-item style="font-size:20px">{{submodules.icon}} </mat-icon> {{submodules.nome}}
    <mat-icon *ngIf="submodules.id_SubModulos != index" class="alinhamento">expand_more</mat-icon>
    <mat-icon *ngIf="submodules.id_SubModulos === index" class="alinhamento">expand_less</mat-icon></a>
    <div *ngIf="submodules.id_SubModulos === index" >
    <mat-list class="exemplo-right-align" *ngFor = "let submodules of submodules.formularios" >
      <mat-list-item [ngClass]="{'ativo':submodules.idFormularios === form}"  (click)="mostrarformativo(submodules.idFormularios,submodules.link,submodules.nome)" style="font-size: 14px">
        {{submodules.nome}} <mat-icon class="alinhamento" >arrow_right</mat-icon> </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </div>
    <mat-divider></mat-divider>
    </mat-nav-list> 
  </mat-sidenav>
  <mat-sidenav-content>
      <div id="temp" [hidden] =boleano  class=" col-12 spiner"><mat-spinner></mat-spinner></div>
      <mat-toolbar color="primary">
    <div class="col-sm-7 left">
      <button id="btn-menu" [hidden]=btnhidden class="btn1" type="button"
              aria-label="Togle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
           </button>
      </div>
      <div class="col-sm-5 right"  dropdown >
        <button  mat-icon-button><mat-icon >account_circle</mat-icon> </button>
           <label style="font-size:14px"  id="user">{{user}}</label>
           <button id="button-basic" *ngIf="user.length > 0" style="margin-right: -25px"  dropdownToggle  type="button" mat-icon-button matTooltip="Menu" aria-controls="dropdown-basic">
              <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
           <div class="">
           <ul  id="dropdown-basic" style="font-size:12px"  *dropdownMenu class="dropdown-menu  dropdown-menu-right "
      role="menu" aria-labelledby="button-basic" >
<mat-action-list dense *ngFor = "let modules of modules " >
  <button (click)="CarregaModules(modules.id_Modulos, modules.nome,modules.icon)" mat-list-item style="font-size:14px"><mat-icon mat-list-item style="font-size:20px">{{modules.icon}}</mat-icon> {{modules.nome}}</button>
</mat-action-list>
  </ul>
           </div>
      </div>
   
    </mat-toolbar>
    <div>
      <div class='container-fluid'>
        <p></p>
        
        <router-outlet></router-outlet>

</div>
    </div>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
