/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.salvocomsucesso {
  background-color:green;
  color: white;
}
.error{
  background-color:red;
  color:white;
}
.exemplo-right-align {
  text-align: right;
}
.fontclbranco{
  color:white;
  }
  h6{
    font-weight: bold;
  }
  button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
  }
  .right{
    text-align: right;
  }
  .left{
    text-align: left;
  }
  .spiner{
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: black;
    opacity: 0.6;
  }
  .mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}
